textarea {
  width: 100%;
  height: 250px;
  background-color: ghostwhite;
}

.center-block {
  text-align: center;
}

.buttons {
  /*background-color: aqua;*/
  height: 50px;
  width: 100px;
}

.input {
  width: 10%;
}

body {
  background-color:whitesmoke;
}

label {
  display: block;
  font: 0.9rem 'Fira Sans', sans-serif;
}