<html>
    <head>
        <title>Formulaire</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <img style="max-width: 10%; height: 10%;" src="{{url_for('static', filename='injection.png')}}" />
        <form method="POST" action="/", enctype="multipart/form-data">
        <div class="center-block">
            <div>
                <label>Username:</label>
                <input type="text" name="username" value={{uservalue}}>
            </div>
            <div>
                <label for="pass">Password (8 characters minimum, 20 maximum):</label>
                <input type="password" id="pass" name="password" minlength="8" maxlength="20" required value={{passvalue}}>
            </div>
        </div>

        <div class="center-block">

            <button type="reset" class="buttons" name="resetb"> <span> Reset </span>  </button>
            <button type="submit" class="buttons" name="valideb"> <span> Validate </span>  </button>
            <button type="submit" class="buttons" name="addb"> <span> Add </span>  </button>
            <button type="submit" class="buttons" name="connb"> <span> Connect </span>  </button>
        </div>
    </form>
        <p>{{ errormsg }}</p>

    </body>
</html>
